@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Oswald&display=swap');

.body {  /*Задал размер шрифта предку, установил фон, цвет текста, масштабирование задней картинки*/ 
  font: 14pt Oswald;

  background: scroll url(../images/back.jpg) no-repeat;
  color: white;
  background-size: cover;
}

.header__title, .section__title { /*Заголовки по центру установил*/
	font-family: Neucha;
  text-align: center;
	margin: 10px 0 -40px 0; /*Чтобы не было больше разрыва между заголовком и текстом*/
	text-align: center;
	margin: 10px; /*Чтобы не было больше разрыва между заголовком и текстом*/
	text-shadow: 5px 5px 20px white; /*Тень*/
}

.header__button, .section__button { /*Задал стиль первых двух кнопок*/
	display: block;
	margin: auto;
	background: transparent; /*Фон в кнопках прозрачный*/
	color: white;
	border: 2px solid;
}

.header__button:hover { /*При наведении курсора на кнопку изменяется кнопка в шапке*/
		background: white;
		color: black;
		transition-duration: 0.4s;
}

.section__button:hover { /*При наведении курсора на кнопку изменяется кнопка в основном теле*/
		background: white;
		color: black;
		transition-duration: 0.4s;
}

.footer__button { /*Стиль кнопки в подвале*/
	background: transparent; /*Фон в кнопках прозрачный*/
	color: white;
	border: 2px solid;
	margin: 10px 0;
}

.footer__button:hover { /*При наведении курсора на кнопку изменяется кнопка в подвале*/
		background: white;
		color: black;
		transition-duration: 0.4s;
}

.footer { /*Установил позиционирование подвала по правой стороне*/
	display: block;
	position: relative;
	width: 300px;
	margin-left: auto;
}

.footer__title {
  font-family: Neucha;
	margin: 10px 0 10px;
	text-shadow: 5px 5px 20px white;
}

.header__text, .section__text { /*Между буквами расстояние и красная строка*/
	letter-spacing: 1px;
	text-indent: 35px;
}

.header__word-underline { /*Подчеркнул слово*/
	text-decoration: underline;
}

.header__firs-letter, .section__firs-letter {
	color: red;
	font-size: 35pt;
	position: relative;
  top: 5px;
}